<div id="multiview">
        <div>
            Item <span>{{multiview.selectedIndex + 1}}</span> of <span>{{itemCount}}</span>
        </div>
        <dx-multi-view
            #multiview
            [height]="800"
            [dataSource]="packages"
            [selectedIndex]="0"
            [loop]="true"
            [animationEnabled]="true">
            <div *dxTemplate="let package of 'item'">
                <div class="item multiview-item">
                    <div class="hero-flex js-fullheight" style="height: 749px;">
                        <div class="col-three-forth">
                            <div class="hero-img js-fullheight" style="background: url('/assets/img/explore/Selina_Santa_Teresa_Explore_Silder_Hero_001.webp');"><!--// [style.background-image]=package.Media[0].Url | safeStyle">//-->
                            </div>
                        </div>
                        <div class="col-one-forth js-fullheight" style="height: 749px;">
                            <h2 class="number">03/03</h2>
                            <div class="display-t js-fullheight" style="height: 749px;">
                                <div class="display-tc js-fullheight" style="height: 49px;">
                                    <div class="text-inner">
                                        <div class="desc">
                                            <span class="tag">{{package.Location}} - {{package.PackageName}}</span>
                                            <h2>{{package.Subject}}</h2>
                                            <p>{{package.Description}}</p>
                                            <b>{{package.CompanyName}}</b>
                                            <p>Email: <b>{{package.Email}}</b></p>
                                            <p>Phone: <b>{{package.Phone}}</b></p>
                                            <p>Fax: <b>{{package.Fax}}</b></p>
                                            <p>Website:<a href="" target="_blank">{{package.Website}}</a></p>
                                            <br>
                                            <p><a href="{{package.Website}}" class="btn-view">View Package<i class="icon-arrow-right3"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dx-multi-view>