<div class="border-img-la-b">
    <div class="border-shadow">
    <dx-gallery #gallery
        id="gallery"
        [slideshowDelay]="100000"
        [loop]="true"
        [height]="730"
        [width]="508"
        [showNavButtons]="false"
        [showIndicator]="true"
        [items]="items"
        [animationDuration]="1000"
        [stretchImages]="false"
        [wrapAround]="false"
        [animationEnabled]="true"
        >       
        <div *dxTemplate="let item of 'item'" >
            <div class="main-img-b">adfadsf</div>
                <div class="asset-subject">{{item.Subject}}</div>
                 <div class="asset-Description">{{item.Description}}</div>
            </div>
        </dx-gallery>        
    </div>
</div>

