/*
::ng-deep dx-responsive-box div div  {
    flex: unset !important;
}
*/
::ng-deep #top-content{

    position: relative;
/*    max-height: calc(100% - 72px); */
}
::ng-deep #header{
    position: relative;
}
::ng-deep #content {
    position: relative;
    text-align: center;
}
::ng-deep #footer {
    text-align: center;
}



