<dx-responsive-box
    #mainScreen
    singleColumnScreen="sm"
    [(screenByWidth)]="screenTest">
    <dxi-row [ratio]="500"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="5000" screen="xs"></dxi-row>
    <dxi-row [ratio]="50000"></dxi-row>
    <dxi-col [ratio]="1"></dxi-col>
    <dxi-item>
        <dxi-location
            [row]="0"
            [col]="0"
            [colspan]="1"
            screen="lg"
        ></dxi-location>
        <dxi-location
            [row]="0"
            [col]="0"
            [colspan]="1"
            screen="sm"
        ></dxi-location>
        <div *dxTemplate id="top-content" class="header item">
            <router-outlet name="top-content"></router-outlet>
        </div>
    </dxi-item>
    <dxi-item>
        <dxi-location
            [row]="1"
            [col]="0"
            [colspan]="1"
            screen="lg"
        ></dxi-location>
        <dxi-location
            [row]="1"
            [col]="0"
            [colspan]="1"
            screen="sm"
        ></dxi-location>
        <div *dxTemplate id="header" class="header item">
            <app-topnav></app-topnav>
        </div>
    </dxi-item>
    <dxi-item>
        <dxi-location
            [row]="2"
            [col]="0"
            [colspan]="1"
            screen="lg"
        ></dxi-location>
        <dxi-location
            [row]="2"
            [col]="0"
            [colspan]="1"
            screen="sm"
        ></dxi-location>
        <div *dxTemplate id="content" class="content item">
            <router-outlet></router-outlet>
        </div>
    </dxi-item>
<!--// 
    <dxi-item>
        <dxi-location
            [row]="3"
            [col]="0"
            [colspan]="1"
            screen="lg"
        ></dxi-location>
        <dxi-location
            [row]="3"
            [col]="0"
            [colspan]="1"
            screen="sm"
        ></dxi-location>
        <div *dxTemplate id="footer" class="footer item">
            <app-footer></app-footer>
        </div>
    </dxi-item>
//-->
</dx-responsive-box>
