<dx-nav-bar>
    <dxi-item text="Home" html="<img class='nav-icon' src='/assets/img/nav-icon/logo.svg'>"></dxi-item>
    <dxi-item text="The Hotel" html="<img class='nav-icon' src='/assets/img/nav-icon/hotel.svg'>"></dxi-item>
    <dxi-item text="The Restaurant" html="<img class='nav-icon' src='/assets/img/nav-icon/restaurant.svg'>"></dxi-item>
    <dxi-item text="The Lounge"  html="<img class='nav-icon' src='/assets/img/nav-icon/bar.svg'>"></dxi-item>
    <dxi-item text="Explore"  html="<img class='nav-icon' src='/assets/img/nav-icon/travel.svg'>"></dxi-item>
    <dxi-item text="Contact"  html="<img class='nav-icon' src='/assets/img/nav-icon/contact.svg'>"></dxi-item>
    <dxi-item text="Jobs"  html="<img class='nav-icon' src='/assets/img/nav-icon/job.svg'>" badge="New"></dxi-item>
</dx-nav-bar>

