<div class="col-md-4">
    <div class="article animate-box fadeInUp animated">
        <a href="blog.html" class="blog-img">
            <img class="img-responsive" src="images/img-1.jpg" alt="html5 bootstrap by colorlib.com">
            <div class="overlay"></div>
            <div class="link">
                <span class="read">Read more</span>
            </div>
        </a>
        <div class="desc">
            <span class="meta">04, Mar 2018</span>
            <h2><a href="blog.html">Collect some interesting images</a></h2>
            <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
        </div>
    </div>
</div>