<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{global.site_name}}</title>
		{{>head}}
	</head>
	<body>
<br>
<br>
<br>
{{>blog}}
		<header>
			<app-topnav></app-topnav>
		</header>
		<main>	
			<app-video></app-video>
		</main>
		<section>
			<app-blog></app-blog>
		</section>
		<app-footer></app-footer>
		<noscript>Please enable JavaScript to continue using this application.</noscript>
		{{>angular}}
	</body>
</html>
