<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"/> 
        <title>{{global.site_name}}</title> 
        {{>head}} 
    </head> 
    <body> 
        <div id="page"> 
            <dx-responsive-box singleColumnScreen="sm"(screenByWidth)]="function(){console.log('hello');( width < 700 ) ? 'sm' : 'lg';}"> 
                <dxi-row [ratio]="1"></dxi-row> 
                <dxi-row [ratio]="2" screen="xs"></dxi-row> 
                <dxi-row [ratio]="2"></dxi-row> 
                <dxi-row [ratio]="1"></dxi-row> 
                <dxi-col [ratio]="1"></dxi-col> 
                <dxi-col [ratio]="2" screen="lg"></dxi-col> 
                <dxi-col [ratio]="1"></dxi-col> 
                <dxi-item> 
                    <dxi-location 
                        [row]="0" 
                        [col]="0" 
                        [colspan]="3" 
                        screen="lg" 
                    ></dxi-location> 
                    <dxi-location 
                        [row]="0" 
                        [col]="0" 
                        [colspan]="2" 
                        screen="sm" 
                    ></dxi-location> 
                    <app-topnav class="header item"></app-topnav> 
                </dxi-item> 
                <dxi-item> 
                    <dxi-location 
                        [row]="1" 
                        [col]="1" 
                        screen="lg" 
                    ></dxi-location> 
                    <dxi-location 
                        [row]="1" 
                        [col]="0" 
                        [colspan]="2" 
                        screen="sm" 
                    ></dxi-location> 
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
						<app-event></app-event>
<!--//                    <app-video class="content item"></app-video> //-->
                </dxi-item> 
                <dxi-item> 
                    <dxi-location 
                        [row]="1" 
                        [col]="2" 
                        screen="lg" 
                    ></dxi-location> 
                    <dxi-location 
                        [row]="2" 
                        [col]="1" 
                        screen="sm" 
                    ></dxi-location>
                    {{>blog}}
                    <app-blog class="right-side-bar item"></app-blog>
                </dxi-item> 
                <dxi-item> 
                    <dxi-location 
                        [row]="2" 
                        [col]="0" 
                        [colspan]="3" 
                        screen="lg" 
                    ></dxi-location> 
                    <dxi-location 
                        [row]="3" 
                        [col]="0" 
                        [colspan]="2" 
                        screen="sm" 
                    ></dxi-location> 
                    <app-footer class="footer item"></app-footer> 
                </dxi-item> 
            </dx-responsive-box> 
        </div> 
        {{>angular}} 
    </body> 
</html> 


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		
	</head>
	<body>
		<header>
	
		</header>

		<app-footer></app-footer>
		<noscript>Please enable JavaScript to continue using this application.</noscript>
		{{>angular}}
	</body>
</html>
