<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{global.site_name}}</title>
		{{>head}}
	</head>
	<body class="dx-viewport">
		<div class="grid-container">
			<header class="header">
				<app-topnav></app-topnav>
			</header>
			<main class="main">	
				<app-video></app-video>
			</main>
			<section class="section">
				<app-blog></app-blog>
			</section>
				<app-footer></app-footer>
		</div>
		<noscript>Please enable JavaScript to continue using this application.</noscript>
		{{>angular}}
	</body>
</html>
