<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{global.site_name}}</title>
		{{>head}}
	</head>
	<body>
		<header>
			<app-topnav></app-topnav>
		</header>
		<main>
			<br>
			<br>
			<br>
			<br>
			<app-jobs></app-jobs>
		</main>
		<section></section>
		<app-footer></app-footer>
		<noscript>Please enable JavaScript to continue using this application.</noscript>
		{{>angular}}
	</body>
</html>
