<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{global.site_name}}</title>
		{{>head}}
	</head>
  	<body class="dx-viewport">
		{{>nav}}
		<h1>fadsf</h1>

		<app-floorplan></app-floorplan>
		
		<noscript>Please enable JavaScript to continue using this application.</noscript>
		{{>angular}}
	</body>
</html